*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.why-choose-grid-container{
    display: grid;
    gap: 30px;
}

.audio-quality{
    grid-column: span 2;
    grid-row: span 2;
    background-color: red;
}